.detail-sec { 
    padding: 3rem 0 3rem 0;
}

.productTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0 3rem 0;
    color: blue;

}

.Detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Det-item img {
   
   width: 100%;
   height: auto;
}


.infotext {
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 0;
}
.Det-btn {
    color: blue;
    bottom: 50px;
    right: 0;
    padding: 0.2rem 0.4rem;
    border: 2px solid rgb(22, 64, 179); 
    font-size: 1.4rem;
    border-radius: 0.5rem;
    transition: all 1s linear;
}

.Det-btn:hover {
    cursor: pointer;
    background-color: rgb(76, 76, 241);
    color: white;
}


.Add-btn:hover {
    cursor: pointer;
    background-color: rgb(76, 76, 241);
    color: white;
}


@media only screen and (max-width: 600px) {
    .Detail-container {
        display: grid;
        grid-template-columns: 1fr ;
    }
  }