nav {
  width: 100vw;
}

.Navbar {
  justify-content: space-around;
  display: block;
  width: 100vw;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(59, 64, 87, 0.824);
  }

  
  /* Link {
    float: left;
  } */
  
   .item {
    /*display: block; */
    /* text-align: center; */
    padding: 14px 16px;
    font-size: 1.3rem;
    color:white;
    text-decoration: none;
  }
  .Home {
    display: flex;
    justify-content: space-between;
  }

  .search {
    display: flex;
    padding: 6px;
  border: none;
  margin: 8px 0 8px 0;
  margin-right: 16px;
  font-size: 17px;
  }
  
  /* Change the link color to #111 (black) on hover */
  .item:hover {
    background-color: rgb(90, 84, 128);
  }

  .click {
    display: flex;
    justify-content: space-evenly;
      background: transparent;
      font-size: 1.3rem;
      cursor: pointer;
  }