.App {
  text-align: center;
  background-color: rgb(166, 228, 142, 0.4);
}

.plistrow {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}
@media only screen and (max-width: 800px) {
  .plistrow {
      display: grid;
      grid-template-columns: 1fr 1fr;
}
}

@media only screen and (max-width: 600px) {
  .plistrow {
      display: grid;
      grid-template-columns: 1fr ;
}
}


